html {
    background-color: rgb(0, 0, 0);
}

#ie {
    display: none;
}

h2 {
    color: red;
    text-align: center;
}

@font-face {
    font-family: "Fallouty";
    src: url('../fonts/Fallouty.ttf');
}

@font-face {
    font-family: "Gothic821";
    src: url('../fonts/Gothic821.ttf');
}

.container {
    position: relative;
}

.is-above {
    align-items: center;
    position: absolute;
    left: 5%;
    z-index: 1000;
}

h1 {
    font-family: "Gothic821";
    color: rgb(0, 100, 0);
    text-align: center;
    font-size: calc(35px + 0.390625vw);
}

p {
    font-family: "Gothic821";
    color: rgb(255, 255, 255, .7);
    text-align: center;
    font-size: calc(20px + 0.390625vw);
}

h4 {
    font-family: "Fallouty";
    color: rgb(0, 100, 0);
    text-align: center;
    font-size: calc(15px + 0.390625vw);
}

.responsive-img {
    position: relative;
    text-align: center;
    left: 50%;
    top: auto;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0%);
    max-width: 100%;
    height: auto;
    width: auto;
    max-height: 100vh;
    object-fit: cover;
    -webkit-tap-highlight-color: transparent;
}

.top-button-svg {
    margin: 5px;
    filter: invert(17%) sepia(75%) saturate(3212%) hue-rotate(100deg) brightness(99%) contrast(110%);
    width: calc(35px + 0.390625vw);
}

.icon-svg {
    filter: invert(17%) sepia(75%) saturate(3212%) hue-rotate(100deg) brightness(99%) contrast(110%);
    width: calc(35px + 0.390625vw);
}

.text-button-svg {
    filter: invert(17%) sepia(75%) saturate(3212%) hue-rotate(100deg) brightness(99%) contrast(110%);
    width: calc(28px + 0.40vw);
    height: calc(18px + 0.40vw);
}

.flip-horizontally {
    transform: scaleX(-1);
}

a {
    text-decoration: none;
    color: rgb(0, 100, 0);
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.tooltip-mouse {
    text-decoration: none;
    position: relative;
}

@media (pointer: fine) {
    .tooltip-mouse span {
        pointer-events: none;
        display: none;
        font-family: "Gothic821";
        color: rgb(0, 139, 0);
        text-align: center;
        font-size: calc(32px + 0.390625vw);
    }

    .tooltip-mouse:hover span {
        pointer-events: none;
        display: block;
        position: fixed;
        overflow: hidden;
    }
}

.nav-station,
.nav-volume,
.fat-nav {
    top: 0;
    left: 0;
    z-index: 9999;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .9);
}

.fat-nav__wrapper {
    width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed;
}

.fat-nav ul {
    vertical-align: middle;
    margin: 0;
    padding: calc(8px + 0.40vw);
}

.fat-nav li {
    list-style-type: none;
    text-align: center;
    padding: 0;
    font-size: calc(25px + 0.40vw);
}

.fat-nav li a {
    font-family: "Gothic821";
    text-decoration: none;
    color: rgb(0, 100, 0);
    text-align: center;
    font-size: calc(25px + 0.40vw);
    border: 1px dotted;
}

.sub-menu-li li a {
    font-family: "Gothic821";
    text-decoration: none;
    color: rgb(0, 100, 0);
    text-align: center;
    font-size: calc(28px + 0.40vw);
    border: none;
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/fonts-gstatic-material-icons-v139.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-size: calc(22px + 0.390625vw);
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
    width: 65%;
    max-width: 500px;
    outline: none;
}

input[type="range"]:focus,
input[type="range"]:active,
input[type="range"]::-moz-focus-inner,
input[type="range"]::-moz-focus-outer {
    border: 0;
    outline: none;
}

input[type="range"]::-moz-range-thumb {
    border: none;
    height: 25px;
    width: 25px;
    background-color: transparent;
    background-image: url("../img/volume.png");
    background-position: 0 0;
    background-size: cover;
    transform: scale(1.9) rotateZ(var(--thumb-rotate, 10deg));
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb:active {
    background-position: 100% 0px;
    transform: scale(2) rotateZ(var(--thumb-rotate, 10deg));
}

input[type="range"]::-moz-range-track {
    width: 100%;
    height: 20px;
    background: #eee;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

input[type="range"]::-moz-range-progress {
    height: 20px;
    background: #4685d7;
    border-radius: 10px;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
    border: none;
    height: 25px;
    width: 25px;
    background-color: transparent;
    background-image: url("../img/volume.png");
    background-position: 0 0;
    background-size: cover;
    transform: scale(1.9) rotateZ(var(--thumb-rotate, 10deg));
    cursor: pointer;
    margin-top: -3px;
    -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-thumb:active {
    background-position: 100% 0px;
    transform: scale(2) rotateZ(var(--thumb-rotate, 10deg));
}

input[type="range"]::-webkit-slider-runnable-track {
    width: 100%;
    height: 20px;
    background: #eee;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    -webkit-appearance: none;
}