html {
    background-color: rgb(0, 0, 0);
}

.div-flex {
    display: flex;
    justify-content: center;
    align-self: center;
    position: fixed;

}

.div-flex img {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 100%;
    max-width: 864px;
    padding: 6%;
    object-fit: cover;
}